@import './global.scss';
@import './colors.scss';
@import './scales.scss';
@import './themes.scss';

@font-face {
  font-family: calibri;
  src: url(fonts/calibri.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  font-family: calibri;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

#app {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}
