.white{

    --color-brand-one: rgb(250, 250, 250);
    --color-brand-two: rgb(54, 54, 54);
    --color-brand-three: rgb(223, 213, 235);
    --color-brand-four: rgb(240, 240, 240);
    --color-brand-five: rgb(247, 247, 247);

}